.SelectionOverview {
  /* This makes the container itself not block the background, allowing for interaction with the map */
  width: 0;
  height: 0;
  font-family: Ronnia Thin Condensed, sans-serif;
}

.SelectionOverview h3,
.SelectionOverview p {
  margin: 0;
}

.SelectionOverview {
  position: fixed;
  bottom: 28vh;
  left: 0;
  z-index: 1000;
}

.comisaria {
  padding: 0vh 4vw;
  border: solid 1px;
  z-index: 1000;
  backdrop-filter: blur(11.2px);
}

.autoridadData {
  border: solid 1px;
  padding: 2vh 4vw;
  backdrop-filter: blur(11.2px);
  max-width: 30vw;
}

.title {
  margin: 0;
  font-size: 1rem;
  font-family: "Ronnia Bold Condensed";
}

.grade {
  margin: 0;
  font-size: 0.9rem;
}

.address,
.date {
  font-size: 0.9rem;
  font-family: "Ronnia Thin Condensed";
}

.authority {
  font-size: 1rem;
  font-family: "Ronnia Bold Condensed";
  max-width: 30vw;
}

.phone {
  padding-bottom: 1vh;
  font-size: 0.9rem;
  font-family: "Ronnia Thin Condensed";
}

.age {
  font-family: "Ronnia Thin Condensed";
}

.circs {
  margin-top: 1vh;
  padding-bottom: 2vh;
  font-family: "Ronnia Thin Condensed";
}

.moreButton {
  font-size: 1.3rem;
  align-self: center;
  margin: 0;
  border: solid 1px var(--mapa-verde-fluo);
  color: var(--mapa-verde-fluo);
  box-shadow: 1px 1px 0 1px var(--mapa-verde-fluo);
  border-radius: 14px;
  padding: 0.5vh 2vw;
  text-align: center;
  width: 10vw;
}

.moreButton:hover {
  color: var(--mapa-gris);
  background-color: var(--mapa-verde-fluo);
  box-shadow: 1px 1px 0 1px var(--mapa-gris);
}

@media (min-width: 1000px) {

  .SelectionOverview {
    bottom: unset;
    left: 14vw;
    top: 38vh;
  }

  .moreButton {
    width: 6rem;
    padding: 0.3vh 0.5vw;
  }

  .comisaria {
    width: 14vw;
    max-width: 14vw;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 15px;
  }

  .autoridadData {
    width: 14vw;
    max-width: 14vw;
    padding: 1rem 1rem;
  }
}