body {
  margin: 0;
  padding: 0;
  font-family: "Ronnia Thin Condensed", sans-serif;
}

@font-face {
  font-family: "Ronnia Heavy";
  src: url("/fonts/RonniaHeavy.otf") format("opentype");
}

@font-face {
  font-family: "Ronnia Bold Condensed";
  src: url("/fonts/RonniaCondBold.otf") format("woff");
}

@font-face {
  font-family: "Ronnia Thin Condensed";
  src: url("/fonts/RonniaCondLight.otf") format("woff2");
}

h1 {
  font-family: "Ronnia Heavy", sans-serif;
}

h2 {
  font-family: "Ronnia Bold Condensed", sans-serif;
}

h4 {
  font-family: "Ronnia Thin Condensed";
}

p {
  font-family: "Ronnia Bold Condensed", sans-serif;
}

main {
  background-color: var(--main-fondo);
  color: var(--main-font);
}

/* Eliminar los estilos por defecto de ul */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Eliminar los estilos por defecto de li */
li {
  margin: 0;
  padding: 0;
}

/* Eliminar los estilos por defecto de a (enlaces) */
a {
  text-decoration: none;
  /* Elimina la subrayado de los enlaces */
  color: inherit;
  /* Heredar el color del texto por defecto */
}


html {
  --mapa-verde-claro: #2cb54d;
  --mapa-verde-oscuro: #2a8842;
  --mapa-verde-fluo: #b9ff39;
  
  --mapa-violeta: #7b4baf;
  --mapa-naranja: #d94d2c;
  --mapa-mandarina: #db8821;
  --mapa-oscuro: #231c26;
  --mapa-negro: #131313;
  --mapa-blanco: #f8f8f8;
  --mapa-gris: #232128;
  --mapa-gris-claro: #504f51;
  --mapa-rosa: rgb(230, 115, 234);

  /* Colores identitarios MAPA */
  --main-identidad: #2cb54d;
  --mardel-identidad: rgb(230, 115, 234);

  /* Colores main (no se donde afectan aun) */
  --main-fondo: #232128;
  --main-font: white;
  
  /* Colores marcas Mapa */
  --alerta-gatillo: #D90429;
  --alerta-comisarias: #1F51FF;
  --alerta-reportes: #f5f50d;
  --alerta-seleccion: #db8821;
  
  /* Colores datos seleccion*/
  --info-bloque: red;

  /* Colores barra lateral */
  --fondo-barra-lateral: #131313;
  --iconos-barra-lateral:   rgb(230, 115, 234);
  --active-barra-lateral: white;

  /* Colores menu herramientas */
  --fondo-menu-herramientas:  #131313;
  --fondo-iconos-herramientas:  #D90429;
  --fondo-seleccion-iconos-herramientas:  #b9ff39;
  --color-iconos-herramientas:  #131313;
  --nombre-iconos-herramientas:  #b9ff39;
}