.Mapa {
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-fondo);
  color: var(--main-identidad);
}

.emergButton,
.LogoMapa {
  z-index: 1;
}

.emergButton {
  position: absolute;
  left: 2.5vw;
  top: 10px;
  border: solid 1px var(--main-identidad);
  padding: 1vh 2vw;
  border-radius: 14px;
  box-shadow: 1px 1px 0 1px;
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
}

.emergButton:hover {
  border: solid 1px var(--main-identidad);
  background-color: var(--main-identidad);
  color: var(--main-fondo);
}

.emergButton>h4 {
  margin: 0;
}

.LogoMapa {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 10;
  
  display: flex;
  flex-direction: row-reverse; /* 👈 Invierte el orden: el icono pasa a la derecha */
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.LogoMapa.visibleOnMobile {
  display: block;
}

.isotipo {
  height: 2.5rem;
}

.LogoTitulo {
  position: relative;
  font-size: 18px;
  top: -10px;
  left: 10px;
  font-family: "Ronnia Heavy";
}

@media (min-width: 1000px) {
  .emergButton {
    right: 5vw;
    top: 4vh;
    font-size: 1.3rem;
    border: solid 1px var(--mapa-verde-claro);
    padding: 2vh 2vw;
    border-radius: 14px;
    box-shadow: 3px 3px 0 1px;
    left: unset;
  }

  .LogoMapa {
    display: flex;
    flex-direction: row-reverse;
    left: 12vw;
    top: 3vh;
  }

  .isotipo {
    height: 4rem;
  }

  .LogoTitulo {
    position: relative;
    font-size: 2rem;
    top: -30px;
    left: 0;
    color: var(--mardel-identidad); 
  }

  .LogoSubTitulo {
    position: relative;
    font-size: 1rem;
    top: -65px;
    left: 0;
    color: var(--mardel-identidad); 
  }
 
}